.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    width: 100%;
    padding: 6px 10px;
    font: inherit;
    border: 1px solid #ccc;
    background-color: white;
    outline: none;
    display: block;
    box-sizing: border-box;

}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: rgb(250, 181, 174);
}